<!-- login.hbs -->
{{#if @site.members_enabled}}
<h3 title="{{t heading}}">{{t heading}}&colon;</h3>
<a href="#/portal" title="{{t "Portal"}}" target="_self">{{t "Portal"}}</a>
<a href="#/portal/signin" title="{{t "Sign in"}}" target="_self">{{t "Sign in"}}</a>
<a href="#/portal/signup" title="{{t "Sign up"}}" target="_self">{{t "Sign up"}}</a>
<a href="#/portal/account" title="{{t "Account"}}" target="_self">{{t "Account"}}</a>
<a href="#/portal/account/profile" title="{{t "Profile"}}" target="_self">{{t "Profile"}}</a>
{{/if}}