<menu class="nav flex row nowrap align-content-center justify-content-center align-items-center">
    {{#if isSecondary}}
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <li class="xxx"><a href="/sitemap.xml" title="XML Sitemap">XML Sitemap</a></li>
    {{else}}
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    {{/if}}
</menu>