<!DOCTYPE html lang="{{@site.locale}}" dir="rtl">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>زواكي دوت كوم</title>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css'}}" />
    <script type="text/javascript" src="{{asset 'js/index.js'}}"></script>
    {{ghost_head}}
</head>
<body>
    <header><h2>أهلاً وسهلاً بكم في زواكي</h2></header>
    <main>
        <header>
            <h2>هون رح تيجي المنتجات:</h2>
        </header>
        <section>{{> "hello"}}</section>
    </main>
    <footer>{{ghost_foot}}</footer>
</body>
</html>