<!DOCTYPE html>
<html {{#match @site.locale "=" "ar"}}lang="{{@site.locale}}" dir="rtl"{{else}}lang="{{@site.locale}}"{{/match}}>
    <head>
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
        <link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css'}}" />
        <script type="module" src="{{asset 'js/index.js'}}"></script>
        {{ghost_head}}
    </head>
    <!-- default.hbs -->
    <body class="{{body_class}}">
        <header>
            {{#if @site.logo}}
            <figure><a href="{{@site.url}}" title="{{@site.title}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a></figure>
            {{else}}
            <h1><a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a></h1>
            <h2>{{@site.description}}</h2>
            {{/if}}
            <nav>{{navigation}}</nav>
        </header>
        <div>{{{body}}}</div>
        <footer>
            <section>{{> "login"}}</section>
            <nav>{{navigation type="secondary"}}</nav>
        </footer>
        {{{block "scripts"}}}
        {{ghost_foot}}
    </body>
</html>