{{!< default}}  
<!-- post.hbs -->
{{#post}}
<progress class="reading-progress" value="0" max="100" aria-label="Reading progress"></progress>
{{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}
{{#if feature_image}}<figure title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" style='--img-src: url("{{img_url feature_image}}");' class="zawake-post-figure fixed-img"></figure>{{/if}}
<article class="zawake-{{post_class}} flex column nowrap align-content-center justify-content-center align-items-stretch">
    <header class="zawake-post-heading">
        <h1 title="{{title}}">{{title}}</h1>
        <div>{{#if featured}}<span class="sep-right">{{> "icons/fire"}}&nbsp;{{t "Featured"}}</span>{{/if}}{{#primary_tag}}<a href="{{url absolute='true'}}" target="_self" title="{{name}}">{{name}}</a>{{/primary_tag}}</div>
        <ul>
            {{#foreach authors}}
            {{#if profile_image}}
            <a href="{{url absolute='true'}}" title="{{name}}" target="_self"><img src="{{img_url profile_image}}" alt="{{name}}" class="zawake-post-profile-avatar fixed-img" /></a>
            {{else}}
            <a href="{{url absolute='true'}}" title="{{name}}" target="_self">{{> "icons/avatar"}}</a>
            {{/if}}
            {{/foreach}}
        </ul>
        <h3>{{authors}}</h3>
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date updated_at}}</time>{{#if reading_time}}<span>&bull;</span>&nbsp;<span>{{reading_time minute="Only a minute" minutes="Takes % minutes"}}</span>{{/if}}
    </header>
    <section>{{content}}</section>
    {{#if comments}}<section>
        <h2><span class="sep-right">{{> "icons/discussion"}}</span>{{t "Discussion"}}</h2>
        <div>{{comment_count empty=(t "No comments") singular=(t "comment") plural=(t "comments") autowrap="div" class="comments-style"}}</div>
        <p>{{t "Please pay attention to our"}}&nbsp;<a href="/guides" title="{{t 'Community guidelines'}}" target="_self">{{t "Community guidelines"}}</a>&period;</p>
        <div>{{comments title=(t "Join the members discussion below&colon;") count=false mode="auto" saturation=80}}</div>
    </section>{{/if}}
    <section>{{> "post-pagination"}}</section>
</article>
{{#contentFor "head_scripts"}}{{/contentFor}}
{{#contentFor "foot_scripts"}}<script type="module">
    import { updateProgress } from "/assets/js/helpers/helpers.js";
    requestAnimationFrame(updateProgress);
</script>{{/contentFor}}
{{/post}}